@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
.btn {
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    padding: 12px 30px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
